@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('AeroportBold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}