@import '~normalize.css';
@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './layout/base.scss';

//Подключение элементов
//@import './elements/btn_example.scss';
//Подключение секций
//@import './sections/intro_example.scss';

@import './elements/title.scss';